* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(15, 20, 40, 0.85);
    border-radius: 12px;
    
}

#clock,
#network,
#battery,
#backlight,
#pulseaudio {
    background-color: rgba(30, 50, 90, 0.8);
    border-radius: 12px;
    padding:2px 10px;
    color: #a8c8ff;
    margin: 4px 4px;
}

#workspaces {
    background-color: rgba(30, 50, 90, 0.8);
    border-radius: 12px;
    padding: 2px 4px;
    margin: 4px 4px;
}

#workspaces button {
    border-radius: 12px;
    padding: 1px 6px;
    color: #4a6fa5;
    background-color: transparent;
}

#workspaces button.active {
    background-color: rgba(80, 120, 200, 0.5);
    color: #a8c8ff;
    border-radius: 12px;
}

#custom-power {
    background-color: rgba(30, 50, 90, 0.8);
    border-radius: 12px;
    padding: 1px 10px;
    color: #a8c8ff;
    margin: 4px 4px;
    font-size: 16;
}

#custom-wallpaper{
    background-color: rgba(30, 50, 90, 0.8);
    border-radius: 12px;
    padding: 1px 10px;
    margin: 4px 4px;
    color: #a8c8ff;
}