@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: alpha(@background, 0.85);
    border-radius: 12px;

}

#clock,
#network,
#battery,
#backlight,
#bluetooth,
#pulseaudio {
    background-color: alpha(@surface, 0.8);
    border-radius: 12px;
    padding: 2px 10px;
    color: @text;
    margin: 4px 4px;

}

#workspaces button{
    background-color: alpha(@surface, 0.8);
    border-radius: 12px;
    padding: 2px 4px;
    margin: 4px 4px;
    transition : all 100ms ease-in-out;
}



#workspaces button {
    border-radius: 12px;
    padding: 1px 6px;
    color: @muted;
    background-color: transparent;
}

#workspaces button.active {
    background-color: alpha(@active, 0.5);
    color: @text;
    border-radius: 12px;
}

#custom-power {
    background-color: alpha(@surface, 0.8);
    border-radius: 12px;
    padding: 1px 10px;
    color: @text;
    margin: 4px 4px;
    font-size: 16px;
}

#custom-wallpaper {
    background-color: alpha(@surface, 0.8);
    border-radius: 12px;
    padding: 1px 10px;
    margin: 4px 4px;
    color: @text;
}