@import "/home/cypher/.config/wofi/colors.css";


window {
    background-color: @background;
    border-radius: 16px;
    border: 1px solid transparent;
    color : rgba(15 ,15, 15, 15);
    
}


#input {
    background-color: transparent;
    color: @text;
    border: none;
    border-bottom: 1px solid @active;
    padding: 8px;
    margin: 8px;
}


#entry {
    background-color: transparent;
    color: @text;
    border-radius: 8px;
    padding: 4px 8px;
}

#entry:selected {
    background-color: @active;
    color: @active_text;
    border-radius: 8px;
}
